<!DOCTYPE html>
<html>
<head>
  <title>Funbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "New Employee", employees_new_path %>
<%= link_to "List Employees", employees_index_path %><br/><br/>

<%= yield %>

</body>
</html>
